#chatSection {
    display: none;
}

#emojiPicker {
    position: absolute;
    right: 20px;
    bottom: 100px;
    display: none;
}

.messagesContainer {
    height: 300px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
    overflow-y: scroll;
}

.messageInput {
    width: 70%;
    margin-right: 10px;
}

.show {
    display: block !important;
}